## Basics 
- operators
- variables 
- datatypes
- keywords
- io

In [1]:
7665432568999876554432224556678 + 666544433223456789876655443323456789

666552098656025789753209875548013467

arithmetic operator
```
* / // ** % 
```

In [2]:


564784*655

369933520

assingment operator
``` = += -= *= /= //= %= **= ```

In [3]:
x =  101 
y = 2.34456
z = False
a = None

In [4]:

12+2*4

20

In [5]:
x = 5 # direct assingment
x += 10 # update assingment
x -= 2
x *= 3
name = "Akansha Singh"
name += "ðŸ˜Š "

In [6]:
a = 12
b = 13 
c = a+b

 conditional operators 
```
 <=
 >=
 <
 >
 ==
 !=
 ```

In [7]:
a< a-5

False

In [8]:
a = 10
b = 3

In [9]:
a > b

True

In [10]:
a < b

False

In [11]:
False > 10

False

In [12]:
a < b > 10

False

In [13]:
a < b

False

In [14]:
False > 10

False

In [15]:
a < b < 10

False

logical operator

and 
or 
not

In [16]:
a = 10 
b = 20 
a < b and b < 30
a> b or b > 20

False

In [17]:
print(a > b or b > 20)
print(a < b and b < 30)
print(not a > b)

False
True
True

In [18]:
fruits = ['apple', 'banana','cherry']
print('apple' in fruits)
print('orange' in fruits)
print('orange'  not in fruits)
print('banana' not in fruits)

True
False
True
False

In [19]:
x = 20
y = x
print(x,y)
print(x == y) # value equality
print(x is y) #reference equality(same memory location h ya nhi )

20 20
True
True

In [20]:
x = [1,2,3]
y = x #reference copy
z = x.copy() #value copy
print( x is y)
print( x is  z)
print( x == z)
print( x == y)

True
False
True
True

Datatypes (9)
- integers `int`
- float `float`
- boolean `bool`
- None `Nonetype`
- list `list`
- tuple `tuple`
- string `str`
- set `set`
- dictionary `dict`

In [21]:
coords = (10,20,30)
names = ('alex','alan',"alice","arti")
info = {'name': 'Akansha','age':20,'city':'lucknow' }

In [22]:
del x #delete x from the memory