In [1]:
p = 12000
r = 10.47
t = 5
si = p*r*t/100

example ans = input("prompt")

In [2]:
input("enter your name")

''

In [3]:
name = input(" Enter your name")
city = input(" Enter your city")
colour = input(" Enter your colour")
fruit = input(" Enter your fruit")
luckynumber = input(" Enter lucky number")

In [4]:
a = input(" Enter a number")
b = input(" Enter a number")
print(a+b)

7676

typecasting

from one datatype => another
str => int(variable) =>int

In [5]:
int("120")

120

In [6]:
float(12.4)

12.4

In [7]:
a = 10
b = "100"
c = "10.30"
d = 10.30
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [8]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [9]:
a = input(" enter a number")
b = input(" enter a number")
c = int(a)+int(b)
print(c)

853

In [11]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c = a + b
print(c)

11

In [ ]:
p = int(input("enter a principal amount"))
r = float(input(" enter a rate"))
t = int(input(" enter a time"))
si = p*r*t/100
print(si)

6269.999999999999

formatted output
answer = 12 - 3= 9

In [ ]:
a = 12
b = 3
c = a - b
print("answer :" ,a , '-',b, '=', c)

answer : 12 - 3 = 9

In [ ]:
p = int(input("enter a principal amount"))
r = float(input(" enter a rate"))
t = int(input(" enter a time"))
si = p*r*t/100
print(si)
print(" Simple interest calculator")
print(" Principle =", p)
print(" Rate =", r)
print(" Time =", t)
print('_'* 15)
print(" Simple Interest =", si)

2762.72
 Simple interest calculator
 Principle = 20000
 Rate = 3.4534
 Time = 4
_______________
 Simple Interest = 2762.72

In [ ]:
p = int(input("enter a principle"))
r = float(input(" enter a rate"))
t = int(input(" enter a time"))
si = p*r*t/100
print(si)
print(" Simple interest calculator")
print(" principle =", p , '$')
print(" rate =", r , '%')
print(" time =", t , 'years')
print('_'* 15)
print(" Simple Interest =", si)

52005.0
 Simple interest calculator
 principle = 30000 $
 rate = 34.67 %
 time = 5 years
_______________
 Simple Interest = 52005.0

In [ ]:
print(a,b,c,d, sep= "-")

12-3-9-10.3

In [ ]:
print(*'hello', sep='-')

h-e-l-l-o

In [12]:
print(*'hello', sep='-') # advance version (not to be discussed)
fruits = ['apple','banana','cherry']
print(*fruits, sep=', ') # advance version(not to be discussed)

h-e-l-l-o
apple, banana, cherry

string interpolation for formatted output

In [ ]:
a = 12
b = 3
c = a - b
print("answer :" ,a , '-',b, '=', c)
print(f"answer: {a} - {b} ={c}")

answer : 12 - 3 = 9
answer: 12 - 3 =9

In [ ]:
# area of triangle
b = int(input(" enter the base of the triangle"))
h = int(input(" enter the height of the triangle"))
area = 1/2*b*h
print(" area of triangle")
print(f"base = {b} cm")
print(f"height = {h} cm")
print('_'*15)
print(f" area = {area} cm")

 area of triangle
base = 20 cm
height = 5 cm
_______________
 area = 50.0 cm

In [ ]:
#round function should be used with expression
print(round(10/3))
print(round(10/3,1))
print(round(10/3,2))
print(round(10/3,3))

3
3.3
3.33
3.333

In [ ]:
a = 10
b = 7
c = a/b
print(f'{a} divided by {b} is {c}')
print(f'{a} divided by {b} is {c:.1f}')
print(f'{a} divided by {b} is {c:.2f}')
print(f'{a} divided by {b} is {c:.3f}')

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [ ]:
# text aligment
n1 = "The final empire"
a1 = 'Barndon Sanderson'
p1 = 499
n2 = "The Art of war"
a2 = 'Sun Tzu '
p2 = 239
n3 = "Stormlight Archives: the way of kings"
a3 = 'Barndon Sanderson'
p3 = 550
#print(f 'title | author | pages')
print(f'{n1:>40} | {a1:^20} | {p1}') #> right alignment ^center alignment
print(f'{n2:>40} | {a2:^20} | {p2}')
print(f'{n3:>40} | {a3:^20} | {p3}')

                        The final empire |  Barndon Sanderson   | 499
                          The Art of war |       Sun Tzu        | 239
   Stormlight Archives: the way of kings |  Barndon Sanderson   | 550