# list
- creation
- indexing and slicing
- methods 
    - append() (last , add one movie at a time)
    - insert() (middle mai insert)
    -   extend()
    -   remove()
    -   pop()
    -   clear()
    -   count()
    -   reverse()
    -   sort()
    -   index()
    -   copy()
-  comprehension

In [2]:
a = [1,2,3]
print(a, type(a))
names = ['alice','bob','charlie']
print(names, type(names))
data = ['apple', 50, 'mango', 100, 'orange', 70]
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(data)
print(nested_list)
duplicated_list = [5 ,2] * 10
print(duplicated_list)

print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [3]:
duplicated_string = ['#'] * 20
print(duplicated_string)

['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']

In [4]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five = ',n[:5])
print('last five = ',n[-5:])
print('last element = ',n[-1])
print('first element = ',n[0])
print('except first 2 and last 2 element = ',n[2:-2])
print('reverse list = ',n[::-1])
print('all odd indexs = ',n[::2])
print('all even indexs =',n[1::2])
print(n[-6::-1])
print(n[4::-1])

first five =  [11, 12, 13, 14, 15]
last five =  [16, 17, 18, 19, 20]
last element =  20
first element =  11
except first 2 and last 2 element =  [13, 14, 15, 16, 17, 18]
reverse list =  [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all odd indexs =  [11, 13, 15, 17, 19]
all even indexs = [12, 14, 16, 18, 20]
[15, 14, 13, 12, 11]
[15, 14, 13, 12, 11]

In [5]:
# list is mutable  (because we make changes in indexes)
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [6]:
fruits = ['apple','mango','orange']
print(fruits)
fruits[0] = 'custard apple'
print(fruits)
fruits[1] = 'jackfruit'
print(fruits)

['apple', 'mango', 'orange']
['custard apple', 'mango', 'orange']
['custard apple', 'jackfruit', 'orange']

In [7]:
movies = []
print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("The core")
movies.append("Harry potter")
movies.append("Bullet Train")
movies.append("Jumanji")
print((movies))
print(len(movies))

<class 'list'>
0
['Star wars', 'The core', 'Harry potter', 'Bullet Train', 'Jumanji']
5

In [8]:
ff =['fast and furious',
'2 fast and furious', 
'fast and furios : Tokyo drift',
'fast 5']
ff.append("Fast and furious 6")
print(ff)
ff.insert(3, 'fast and furious 4')
print(ff)

['fast and furious', '2 fast and furious', 'fast and furios : Tokyo drift', 'fast 5', 'Fast and furious 6']
['fast and furious', '2 fast and furious', 'fast and furios : Tokyo drift', 'fast and furious 4', 'fast 5', 'Fast and furious 6']

In [9]:
n = [1,2,3,6,7,8,9]
n.insert(3,4) # on 3rd index, insert value = 4
print(n)
n.insert(4,5) # on 5th index, insert value = 5
print(n)
n.insert(100, 5) # invalid index, soit will insert at the end
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [10]:
# adding a list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,6]) 
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 6]

In [11]:
n.remove(3) # search where is 3 and remove it
print(n)
n.remove(5) # remove first 5 
print(n)

[1, 2, 4, 5, 6, 7, 8, 9, 5]
[1, 2, 4, 6, 7, 8, 9, 5]

In [12]:
movies.remove("The core")
print(movies)

['Star wars', 'Harry potter', 'Bullet Train', 'Jumanji']

In [13]:
n.pop(3) # it is for index removal value

6

In [14]:
print(n)

[1, 2, 4, 7, 8, 9, 5]

In [15]:
n.pop()

5

In [16]:
movies.pop()
print(movies)

['Star wars', 'Harry potter', 'Bullet Train']

In [17]:
n.clear() # clear use when we want to remove all data or value which is in list (list structure is there but it is empty)
print(n)
movies.clear()
print(movies)

[]
[]

In [23]:
x = [1,2,3,1,1,1,2,2,2,3,1,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

6
6
3
0

In [24]:
y = [1,2,3,4,5]
y.reverse() # or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [25]:
names = ['Vijay','Salman','Rahul','Akbar']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Akbar', 'Rahul', 'Salman', 'Vijay']
['Vijay', 'Salman', 'Rahul', 'Akbar']

In [26]:
heroes =['Goku','Naruto','Luffy','Ichigo','Natsu','Meliodas']
print(heroes)
luffy_idx = heroes.index('Luffy')
print(luffy_idx)

['Goku', 'Naruto', 'Luffy', 'Ichigo', 'Natsu', 'Meliodas']
2

In [27]:
x = [1,2,3]
y = x        # y is a reference to x
z = x.copy() # z is a shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

Comprehension

In [28]:
x = [1,2,4,2,31,3,6]
x2 = [i ** 2 for i in x]
print(x)
print(x2)

[1, 2, 4, 2, 31, 3, 6]
[1, 4, 16, 4, 961, 9, 36]

In [29]:
a = [1,2,3,4,5,6,7,8,9,10]
b = [i - 10 for i in a]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [30]:
a = [65,68,59,70,80]
b = [chr(i) for i in a]
print(a)
print(b)

[65, 68, 59, 70, 80]
['A', 'D', ';', 'F', 'P']

In [31]:
crap_list = ['A',1,2,3,'B','C','D',4,5,5,1,1,2,5,6,]
clean_list = [i for i in crap_list if isinstance(i, int)]
print(crap_list)
print(clean_list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 2, 5, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 2, 5, 6]

In [32]:
# make all the input to a int list
nums = [int(n) for n in input().split() if n.isdigit()]
print(nums)

[45]

# Tuple

In [33]:
a = (1,2,3,4,5)
print(a, type(a))   
b = 1,2,3,4
print(b, type(b))
# single element tuple
c = (1,)
print(c)
d = (1,) * 5 # tuple duplication
print(d)
e = tuple([1,2,3,4,5])
print(e, type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) <class 'tuple'>

In [34]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [35]:
x = (1,1,1,1,3,4,5,6,6)
print(x.count(1))
print(x.count(10))
print(x.index(4)) # find index of 4

4
0
5

 tuple unpacking

In [18]:
1,2,3

(1, 2, 3)

In [19]:
x = ('apple',100)
print(x)

('apple', 100)

In [20]:
item, price = x # unpacking ki
print(item, price)

apple 100

In [21]:
a, b, c, = 10, 20, 30
print(a,b,c)

10 20 30

In [22]:
one_tuple = (1,2,3,4,5,6,7,8,9,10) # if we create a tuple with 10 values and giving 3 variable for hold it or restore it then it gave error 
a,b,c = one_tuple

ValueError: too many values to unpack (expected 3)

In [ ]:
a, b, c = x # error - not enough values to unpack

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
# * - unpacking operator
one_tuple = (1,2,3,4,5,6,7,8,9,10)
a,b,*c = one_tuple # (*) use for storing rest data
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
*a, b = one_tuple
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [36]:
a, *b = one_tuple
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
one, *middle, last = one_tuple
print(one, middle, last)

1 [2, 3, 4, 5, 6, 7, 8, 9] 10

``` tricks - using *  for displaying data in print ```

In [ ]:

print(one_tuple)
print(*one_tuple) # work with any iterable
print(*one_tuple, sep='\n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in one_tuple:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = [2,3,4,8]
b = [i**2 for i in a]
print(b)

[4, 9, 16, 64]

In [ ]:
a = [1,2,3,4,6,7,57,94]
b =[i for i in a if i%2==0]
print(b)

[2, 4, 6, 94]