# list
- creation
- indexing and slicing
- methods 
    - append() (last , add one movie at a time)
    - insert() (middle mai insert)
    -

In [6]:
a = [1,2,3]
print(a, type(a))
names = ['alice','bob','charlie']
print(names, type(names))
data = ['apple', 50, 'mango', 100, 'orange', 70]
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
print(data)
print(nested_list)
duplicated_list = [5 ,2] * 10
print(duplicated_list)

print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2, 5, 2]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [8]:
duplicated_string = ['#'] * 20
print(duplicated_string)

['#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#', '#']

In [20]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first five = ',n[:5])
print('last five = ',n[-5:])
print('last element = ',n[-1])
print('first element = ',n[0])
print('except first 2 and last 2 element = ',n[2:-2])
print('reverse list = ',n[::-1])
print('all odd indexs = ',n[::2])
print('all even indexs =',n[1::2])
print(n[-6::-1])
print(n[4::-1])

first five =  [11, 12, 13, 14, 15]
last five =  [16, 17, 18, 19, 20]
last element =  20
first element =  11
except first 2 and last 2 element =  [13, 14, 15, 16, 17, 18]
reverse list =  [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all odd indexs =  [11, 13, 15, 17, 19]
all even indexs = [12, 14, 16, 18, 20]
[15, 14, 13, 12, 11]
[15, 14, 13, 12, 11]

In [22]:
# list is mutable  (because we make changes in indexes)
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [24]:
fruits = ['apple','mango','orange']
print(fruits)
fruits[0] = 'custard apple'
print(fruits)
fruits[1] = 'jackfruit'
print(fruits)

['apple', 'mango', 'orange']
['custard apple', 'mango', 'orange']
['custard apple', 'jackfruit', 'orange']

In [8]:
movies = []
print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("The core")
movies.append("Harry potter")
movies.append("Bullet Train")
movies.append("Jumanji")
print((movies))
print(len(movies))

<class 'list'>
0
['Star wars', 'The core', 'Harry potter', 'Bullet Train', 'Jumanji']
5

In [9]:
ff =['fast and furious',
'2 fast and furious', 
'fast and furios : Tokyo drift',
'fast 5']
ff.append("Fast and furious 6")
print(ff)
ff.insert(3, 'fast and furious 4')
print(ff)

['fast and furious', '2 fast and furious', 'fast and furios : Tokyo drift', 'fast 5', 'Fast and furious 6']
['fast and furious', '2 fast and furious', 'fast and furios : Tokyo drift', 'fast and furious 4', 'fast 5', 'Fast and furious 6']

In [4]:
n = [1,2,3,6,7,8,9]
n.insert(3,4) # on 3rd index, insert value = 4
print(n)
n.insert(4,5) # on 5th index, insert value = 5
print(n)
n.insert(100, 5) # invalid index, soit will insert at the end
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [3]:
# adding a list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,6]) 
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 6]

In [7]:
n.remove(3) # search where is 3 and remove it
print(n)
n.remove(5) # remove first 5 
print(n)

[1, 2, 4, 6, 7, 8, 9, 5]

In [11]:
movies.remove("The core")
print(movies)

['Star wars', 'Harry potter', 'Bullet Train', 'Jumanji']

In [12]:
n.pop(3) # it is for index removal value

6

In [13]:
print(n)

[1, 2, 4, 7, 8, 9, 5]

In [14]:
n.pop()

5

In [15]:
movies.pop()
print(movies)

['Star wars', 'Harry potter', 'Bullet Train']

In [16]:
n.clear() # clear use when we want to remove all data or value which is in list (list structure is there but it is empty)
print(n)

[]

 tuple unpacking

In [1]:
1,2,3

(1, 2, 3)

In [2]:
x = ('apple',100)
print(x)

('apple', 100)

In [3]:
item, price = x # unpacking ki
print(item, price)

apple 100

In [4]:
a, b, c, = 10, 20, 30
print(a,b,c)

10 20 30

In [5]:
one_tuple = (1,2,3,4,5,6,7,8,9,10) # if we create a tuple with 10 values and giving 3 variable for hold it or restore it then it gave error 
a,b,c = one_tuple

ValueError: too many values to unpack (expected 3)

In [6]:
a, b, c = x # error - not enough values to unpack

ValueError: not enough values to unpack (expected 3, got 2)

In [7]:
# * - unpacking operator
one_tuple = (1,2,3,4,5,6,7,8,9,10)
a,b,*c = one_tuple # (*) use for storing rest data
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
*a, b = one_tuple
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [10]:
one, *middle, last = one_tuple
print(one, middle, last)

1 [2, 3, 4, 5, 6, 7, 8, 9] 10

``` tricks - using *  for displaying data in print ```

In [13]:

print(one_tuple)
print(*one_tuple) # work with any iterable
print(*one_tuple, sep='\n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10

In [14]:
for i in one_tuple:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
a = [2,3,4,8]
b = [i**2 for i in a]
print(b)

[4, 9, 16, 64]

In [2]:
a = [1,2,3,4,6,7,57,94]
b =[i for i in a if i%2==0]
print(b)

[2, 4, 6, 94]