# set
- create
- method

In [4]:
x = set() # empty
print(x)
y = {1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple", "banana", "cherry"}
print(fruits)
data = {'apple', 205, 3.14, 'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'cherry', 'apple', 'banana'}
{3.14, 205, 'banana', 'apple'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'y', 'a', 'e', 'r', 'p', 'o', 'h', 't', ' '}

In [5]:
a = set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

{'The final empire', 'The well of ascension', 'The hero of ages'}

In [7]:
a.update(['AppleSeed','ApplePie','AppleCider'])
print(a)

{'The well of ascension', 'The final empire', 'AppleSeed', 'AppleCider', 'The hero of ages', 'ApplePie'}

In [12]:
a.add("AppleSeed") # not added
print(a) #no duplicates

{'The well of ascension', 'The final empire', 'AppleSeed', 'AppleCider', 'Appleseed', 'The hero of ages', 'ApplePie'}

In [14]:
a.discard("Appleseed")
a.discard("ApplePie") # for removig the data
a.discard("ApplePie")
print(a)

{'The well of ascension', 'The final empire', 'AppleSeed', 'AppleCider', 'The hero of ages'}

In [19]:
a = {1,2,3}
b = {3,4,5}
c = {6,7,8}
ab = (a.union(b))
print(ab)
print(a.union(b,c))
print(a | b | c) # | is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
print(a.intersection(b))
print(a & b) # & is intersection
print(a & c)
print(a & b & c)

{3}
{3}
set()
set()

In [26]:
print(a.difference(b))
print(b.difference(a))
print(a - b) # - is difference

{1, 2}
{4, 5}
{1, 2}

In [28]:
print(a.symmetric_difference(b))
print(a ^ b) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

# Dictionary

In [8]:
data = [ 'alex', True, False, 29, 'new yoek', 'photographer']
datadict = {
    'name' : 'alex',
    'isMarried': True,
    'hasChildren': False,
    'age': 29,
    'city': 'new york',
    'profession': 'photographer'
}
print(datadict)
print(type(datadict))
movies = {} # empty dictionary
expenditure = dict(        # we use dict function for storing the data
    food = 500,
    rent = 1700,
    insurance = 200,
)
print(movies)  
print(expenditure)

{'name': 'alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
<class 'dict'>
{}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creating
- accesing
- add or update 
- remove 
- traversal

In [13]:
print(datadict['name']) # accesing
print(datadict['isMarried'])
print(datadict['city'])
#print(datadict['state']) # keyError

alex
True
new york

In [16]:
print(datadict.get('city')) # accesing
print(datadict.get('City')) # City is not in the dictionary
print(datadict.get('age',100)) # default value not used
print(datadict.get('AGE',100)) # AGE is not in the dictionary

new york
None
29
100

In [18]:
movies['Deadpool & Wolverin'] = "Shwan Levy" # adding
movies['BahuBali'] = "SS Rajmouli"
movies['Inception'] = "Christopher Nolan"
print(movies)

{'Deadpool & Wolverin': 'Shwan Levy', 'BahuBali': 'SS Rajmouli', 'Inception': 'Christopher Nolan'}

In [19]:
movies.update(
    {
        'The Dark knight': 'christopher',
        'The Prestige' : 'Christopher Nolan',
        'The Matrix': 'Wachowski Brothers',
    }
)
print(movies)

{'Deadpool & Wolverin': 'Shwan Levy', 'BahuBali': 'SS Rajmouli', 'Inception': 'Christopher Nolan', 'The Dark knight': 'christopher', 'The Prestige': 'Christopher Nolan', 'The Matrix': 'Wachowski Brothers'}

In [21]:
datadict['name'] = 'Alexander' # here we update the new value at the place of name
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
6

In [22]:
movies.pop('BahuBali') # removing

'SS Rajmouli'

In [ ]:
movies

for loop in dict will iterate over keys

In [26]:
for item in datadict:
    print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}

In [27]:
for item in datadict:
    print(datadict[item])

Alexander
True
False
29
new york
photographer

In [28]:
for k, v in datadict.items():
    print(k, v)

name Alexander
isMarried True
hasChildren False
age 29
city new york
profession photographer

In [29]:
movies.keys()

dict_keys(['Deadpool & Wolverin', 'Inception', 'The Dark knight', 'The Prestige', 'The Matrix'])

In [30]:
movies.values()

dict_values(['Shwan Levy', 'Christopher Nolan', 'christopher', 'Christopher Nolan', 'Wachowski Brothers'])

nested dictionary

In [32]:
report = {
    '01' : {
        'name' : "Alex",
        'subjects' : {
            'maths' : 90,
            'science' : 75,
            'english' : 85
        }
    },
'02' : {
     'name' : "John",
     'subjects' : {
             'maths' : 90,
             'science' : 75,
             'english' : 85
        }
    }
}

In [34]:
report['02']['subjects']['english']

85

In [35]:
from pprint import pp

In [36]:
pp(report)

{'01': {'name': 'Alex',
        'subjects': {'maths': 90, 'science': 75, 'english': 85}},
 '02': {'name': 'John',
        'subjects': {'maths': 90, 'science': 75, 'english': 85}}}

In [38]:
rainfall_data = {
    'year': [2019, 2020, 2021, 2022, 2023],
    'rainfall' : [100, 200, 150, 300, 250]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023], 'rainfall': [100, 200, 150, 300, 250]}